@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
background-image: image-url("beer2.jpeg");
background-size: cover;
background-position: center;
background-attachment: fixed;
line-height: 1.5;
color: white;
}




.container {
  width: 350px;
  margin: 100px auto;
  padding: 20px;
  background: black;
  background-color: rgba(0,0,0,0.6);
  border-radius: 40px;
}
